.vantagens {
    padding: 20px;
    background-color: #ffffff;
    text-align: left;

}

.vantagens h1 {
    margin-top: 0px;
    margin-bottom: 5px;
}

.vantagens li {
    display: flex;
    list-style: none;
}

.seguro, .seguro2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    flex-direction: column;
    margin: 0 auto;
}

.banner {
    font-weight: 300;
    font-size: 19px;
    margin-top: 25px;

}