.btn_login {
    display: flex;
    padding: 10px 20px;
}

.btn_bar {
    letter-spacing: 0.6px;
    border-radius: 4px;
    width: 150px;
    height: 32px;
    border: 1px solid #0046c0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.btn_bar a {
    font-weight: bold; 
    font-size: 16px; 
    text-decoration: none; 
    color: #0046c0; 
}