footer {
    width: 100%;
    color: #ffffff;
    background-color: #000000;
    padding: 5px 5px;
}

.footer_content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: center;
    padding: 20px;
    text-align: left;
}

.footer-link {
    text-decoration: none;
    color: #a8a29e;
    transition: all 0.4s;
}

.footer-link:hover {
    color: #555555;
}

.footer-list,.footer-list2{
    list-style: none;
}

.footer-list{
    h3 {
        text-align: left;
        margin-bottom: 10px;
    }
}

.footer-list2{
    margin-top: 30px;
}

#footer-bar {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

#footer-bar p, #footer-bar a {
    text-decoration: none;
    color: #ffffff;
}

#footer-bar .footer-link:hover {
    color: #a8a29e;
}

#footer_social_media {
    display: flex;
    justify-content: left;
    gap: 2rem;
    font-size: 30px;
    margin-top: 20px;
}

#footer_social_media .footer-link {
    color: #ffffff;
    transition: all 0.4s;
}

#footer_social_media .footer-link:hover {
    color: #555555;
}